*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor4{
    width: 100vw;
    height: 100vh;
    display: grid;
    background: #c7ba83;
    grid-template: 32px auto 35px/ 5000fr 1500fr;
}

.BarraInicial{
    background: #4E4343;
    border: solid 0.2px #111111;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

button{
    width: 40px;
    height: 30px;
    margin-left: 1275.5px;
    background: #4e4c4c;
    cursor: pointer;
}

.texto1{
    font-family: 'Kaisei Decol', serif;
    text-align: center;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin-top: 50px;
    margin-right: 150px;
    margin-left: 70px;
}

.cuadro4{
    text-align: center;
    background: #7a6464;
    grid-row: 2 /3;
    grid-column: 2 / 3;
}

.PiePagina{
    height: 35px;
    background:#4E4343;
    grid-row: 3/4;
    grid-column: 1/3;
}

#imagen2{
    height: 35px;
    padding-left: 1170px;
}

