*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor{
    background: #c7ba83;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 606px 80px/ 809.5px 555px;
}


.intro{
    background: #c7ba83;
    display: grid;
    text-align: center;
    margin-top: 100px;
    margin-left: 20px;
    font-family: 'Kaisei Decol', serif;
}

.datos{
    height: 50px;
    display: grid;
    grid-row: 1/3;
    grid-column: 1/2;
    margin-right: 500px;
    margin-left: 50px;
    font-family: 'Kaisei Decol', serif;
}

button{
     margin-left: 100px;
     margin-right: 100px;
     cursor: pointer;
}

.Cuadro1{
    text-align: center;
    border: solid 100px #c7ba83;
    border-top: 150px solid #c7ba83;
    border-right: 100px solid #c7ba83;
    border-left: 20px solid #c7ba83;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 20px;
    background: #979796;
    border-radius: 20px;
}

.PiePagina{
    height: 50.3px;
    background:#4E4343;
    border-top: 10px solid #c7ba83;
    grid-row: 2/3;
    grid-column: 1/3;
}

#imagen2{
    height: 40px;
    padding-left: 1153px;
}

.contenedor2{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 606px 80px/ auto;
    background: #c7ba83;
}

.cuadro2{
    font-family: 'Kaisei Decol', serif;
    text-align: center;
    display: grid;
    border: solid 100px #c7ba83;
    border-top: 100px solid #c7ba83;
    border-right: 100px solid #c7ba83;
    border-left: 400px solid #c7ba83;
    border-bottom: 90px solid #c7ba83;
    background: #979796;
    border-radius: 20px;
}


