*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.Header {
    background: #4e4343;
    border: solid 0.2px #111111;
    padding-top: 21px;
    padding-bottom: 10px;
  }
  
  #titulo {
    font-family: "Kaisei Decol", serif;
    font-size: 1.5rem;
    color: #fff8dc;
    padding-left: 5px;
  }
  
  #link1 {
    font-family: "Kaisei Decol", serif;
    font-size: 20px;
    padding-left: 450px;
    
  }
  
  #link2 {
    font-family: "Kaisei Decol", serif;
    font-size: 20px;
    padding-left: 900px;
  }
  #link1:hover{
    color: red;
}
#link2:hover{
  color: red;
}

.Descripcion {
  border: solid 0.2px #111111;
  border-top: 35px;
  padding-top: 21px;
 padding-bottom: 40px;
  background: #c7ba83;
}

#descripcion1 {
  font-family: "Kaisei Decol", serif;
  font-size: 1.5rem;
  color: #0f0f0f;
  padding-left: 5px;
  padding-bottom: 10px;
}

#descripcion2 {
  font-family: "Kaisei Decol", serif;
  font-size: 1.5rem;
  color: #0f0f0f;
  padding-left: 5px;
  padding-bottom: 10px;
}

.Afiliar{
     
  border: solid 0.2px #111111;
  width: 718.94px;
    height: 320px;
    margin-left: 60px;
    margin-top: 175px;
    margin-bottom: 100px;
  background: #453737;

}

#TituloAfiliar{

  font-family: 'Kaisei Decol', serif;
  color: #fff;
  font-size: 2.5rem;
  margin-left: 150px;
  text-align: center;

}

.cuadro1 {
  font-family: 'Kaisei Decol', serif;
  font-size: 10px;
  text-align: center;
  border-top: #453737 solid 30px;
  border-left:#453737 solid 200px;
  border-right: #453737 solid 200px;
  background: #979796;
  
  
}

#TituloCuadro1{

  font-family: 'Kaisei Decol', serif;
  color: #111111;
  font-size: 1.3rem;
  text-align: center;

}

#boton1{
  background: #4b82c2;
  font-family: 'Kaisei Decol', serif;
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  margin-left: 250px;
}

#boton1:hover{
  background: red;
}

#ID{
  font-family: 'Kaisei Decol', serif;
  font-size: 15px;
  width: 250px;
  height: 31px;
  margin-left: 10px;
  margin-top: 20px;
}


.Datos{
  
  background:#C4C4C4;
  width: 400px;
  height: 580px;
  margin-left: 900px;
  margin-top: -550px;
  margin-bottom: 100px; 
  border: solid 0.2px #111111;
}

#TituloDatos{

  font-family: 'Kaisei Decol', serif;
  color: #fff;
  font-size: 1.5rem;
  margin-left: 80px;
  text-align: center;

}

.cuadro2 {
  font-family: 'Kaisei Decol', serif;
  font-size: 12px;
  text-align: center;
  border-top: #C4C4C4 solid 50px;
  border-left:#C4C4C4 solid 50px;
  border-right: #C4C4C4 solid 50px;
  background: #8c7979;
  padding-bottom: 40px;
}
  #Texto2{

    font-family: 'Kaisei Decol', serif;
    color: #111111;
    font-size: 1.2rem;
    text-align: center;

}

#Aprobar{
  font-family: 'Kaisei Decol', serif;
  font-size: 15px;
  width: 250px;
  height: 31px;
  margin-left: 10px;
  margin-top: 20px;
}

#boton2{
  background: #4b82c2;
  font-family: 'Kaisei Decol', serif;
  font-size: 20px;
  padding-left: 20px;
  padding-right: -30px;
  margin-top: 30px;
  margin-left: 40px;
}

#boton2:hover{
  background: red;
}


.Footer {
  border: solid 0.2px #c7ba83;
    border-top: 35px;
    padding-top: 21px;
    
    padding-bottom: 38.5px;
    background:#4E4343;
  
}

#imagen2 {
  width: 200px;
  margin-left: 1135px;
}
