{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar partidos políticos</title>
    <link rel="stylesheet" href="{% static 'app/estilosCPP.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body>
    <div class="ConListaPP">
        
        <div class="BarraInicial">
            <i class="fas fa-search" id="logo1"></i>
            <span id="titulo">Consultar Partidos Políticos</span>
            
        </div>
        <div class="Opciones">
            <i class="fas fa-search" id="logo2"></i>
            <span id="text1"> ¡ Consulta ahora !</span>
            <div class="cuadro1">
                
               
                <p id="text2">Selecciona el nombre del partido político</p>
                <select name="Partido" id="ejemplo">
                    <option id="text3">Partido ADA</option>
                    <option id="text4">Partido Colombia Renaciente</option>
                    <option id="text5">Partido Alianza Social Independiente ASI</option>
                    <option id="text6">Partido Alianza Verde</option>
                    <option id="text7">Partido Cambio Radical</option>
                    <option id="text 8">Partido Centro Democrático</option>
                    <option id="text 9">Partido Colombia Justa Libres</option>
                    <option id="text 10">Partido Conservador Colombiano</option>
                    <option id="text 11">Partido FARC Fuerza Alternativa Revolucionaria del Común</option>
                    <option id="text 12">Partido Liberal Colombiano</option>
                    <option id="text 13">Partido Político MIRA</option>
                    <option id="text 14">Partido Polo Democrático Alternativo</option>
                    <option id="text 15">Partido Social de Unidad Nacional "Partido de la U"</option>
                    <option id="text 16">Movimiento Colombia Humana - Unión Patriótica UP</option>
                    <option id="text 17">Movimiento Autoridades Indígenas de Colombia AICO</option>
                    <option id="text 18">Movimiento Alternativo Indígena y Social MAIS</option>
                    
                </select>

            
                <br><button id="boton">CONSULTAR</button>



                   
                

            </div>

            <table border="1" id="tabla1" >
                <thead>
                    <tr>
                        
                        <!-- <th>Nombre partido político</th> -->
                        <!-- <th>Cantidad de visitas</th> -->
                       
                        <th colspan="2"></th>
                        <th colspan="2">Procesos</th>
                        <th colspan="4">Lista de afiliados</th>
                    </tr>
                    <tr>
                        <th scope="col">Nombre partido político</th>
                        <th scope="col">Cantidad de visitas</th>  
                        <th>Cantidad total de procesos</th>
                        <th>Cantidad total de procesos culpables</th>
                        <th>Apellidos</th>
                        <th>Nombres</th>
                        <th>Fecha de ingreso</th>
                        <th>Fecha de salida</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="td1">Partido ADA</td>
                        <td id="td2">100 views</td>
                        <td id="td3">30</td>
                        <th id="td4">23</th>
                        <th id="td5">Cardona Peralta</th>
                        <th id="td6">Juan Pablo</th>
                        <th id="td7">13/07/2019</th>
                        <th id="td8">20/05/2021</th>
                    </tr>
                    <tr>
                        <td id="td1">Partido Polo Democrático Alternativo</td>
                        <td id="td2">300 views</td>
                        <td id="td3">75</td>
                        <th id="td4">4</th>
                        <th id="td5">Castañeda Hernandez</th>
                        <th id="td6">Camilo Andrés</th>
                        <th id="td7">29/04/2015</th>
                        <th id="td8">13/05/2018</th>
                    </tr>
                    
                    
                </tbody>

            </table>
            <br>
            <a href="InicioVA.html" target="_blank" id="link1">Regresar a página de inicio</a>
            <a href="PaginaAdminVA.html" target="_blank" id="link2">Regresar a página de inicio de administrador</a>
            <a href="PaginaCiuVA.html" target="_blank" id="link3">Regresar a página de inicio de ciudadano</a>
        </div>
        <div class="PiePagina">
            <img src="{% static 'app/IMAGEN2.png' %}"  alt="IMAGEN REDES SOCIALES" id="imagen2">
        </div>

    </div>
   



    
</body>
</html>