*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
#titulo{
    font-family: 'Kaisei Decol', serif;
    font-size: 1.5rem;
    color: #fff8dc;
    padding-left: 5px;
    
}

.BarraInicio{
    background: #4E4343;
    border: solid 0.2px #111111;
    padding-top: 21px;
    padding-bottom: 28px;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}
#logo1{
    background: #4E4343;
    color: cornsilk;
    padding: 0.3px;
    border-left: 6px solid #4E4343;
    border-top: 1.5px solid #4E4343;
    width: 22px;
    height: 22px;
}
#text1{
    font-family: 'Kaisei Decol', serif;
    font-size: 1.5rem;
    color: #0f0f0f;
    padding-left: 5px;
    padding-bottom: 10px;
}
#logo2{
    background:#c7ba83;
    color: #0c0c0b;
    padding: 0.3px;
    border-left: 6px solid #c7ba83;
    border-top: 1.5px solid #c7ba83;
    width: 22px;
    height: 22px;
}
.Opciones{
    border: solid 0.2px #111111;
    padding-top: 21px;
    padding-bottom: 360px;
    background:#c7ba83;
    grid-row: 2/3;
    grid-column: 1/3;
}
.PiePagina{
    border: solid 0.2px #c7ba83;
    border-top: 35px;
    padding-top: 21px;
    padding-bottom: 38.5px;
    background:#4E4343;
    grid-row: 3/4;
    grid-column: 1/3;
}
#imagen2{
    width: 200px;
    margin-left: 1135px;
}
table{
    border-collapse: collapse;
    font-family: 'Kaisei Decol', serif;
    font-size: 20px;
    
}
#tabla1{
    border-top:40px solid #c7ba83;
    border-left: 322px solid #c7ba83;
    border-right: 88px solid #c7ba83;
    width: 1151px;
}

th{
    background: #4E4343;
}
tr,
td{
    background: #979796;
}

table,
th,
td{
    border: 1px solid black;
    font-family: 'Kaisei Decol', serif;
}

th,
td{
    padding: 5px;
    font-family: 'Kaisei Decol', serif;
    
}
td:nth-child(5){
    background: #0e9424;
}

#logo3{
    background:#c7ba83;
    color: #0c0c0b;
    padding: 0.3px;
    border-left: 622px solid #c7ba83;
    border-top: 60px solid #c7ba83;
    width: 22px;
    height: 22px;
}
#text2{
    font-family: 'Kaisei Decol', serif;
    font-size: 20px;
    color: #6d0606;
    padding-left: 320px;
    padding-bottom: 10px;
}
#link1{
    font-family: 'Kaisei Decol', serif;
    font-size: 20px;
    padding-left: 550px;
    
}
#link1:hover{
    color: brown;
}
#link2{
    font-family: 'Kaisei Decol', serif;
    font-size: 20px;
    padding-left: 500px;
   
    
}
#link2:hover{
    color: brown;
}