*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
#titulo{
    font-family: 'Kaisei Decol', serif;
    font-size: 1.5rem;
    color: #fff8dc;
    padding-left: 5px;
    
}
.BarraInicio{
    
    background: #4E4343;
    border: solid 0.2px #111111;
    padding-top: 21px;
    padding-bottom: 28px;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    width: 1671px;
}
#logo1{
    background: #4E4343;
    color: cornsilk;
    padding: 0.3px;
    border-left: 6px solid #4E4343;
    border-top: 1.5px solid #4E4343;
    width: 22px;
    height: 22px;
}
#text1{
    font-family: 'Kaisei Decol', serif;
    font-size: 1.5rem;
    color: #0f0f0f;
    padding-left: 5px;
    padding-bottom: 10px;
}
#logo2{
    background:#c7ba83;
    color: #0c0c0b;
    padding: 0.3px;
    border-left: 6px solid #c7ba83;
    border-top: 1.5px solid #c7ba83;
    width: 22px;
    height: 22px;
}
.Opciones{
    border: solid 0.2px #111111;
    padding-top: 21px;
    padding-bottom: 360px;
    background:#c7ba83;
    /* grid-row: 2/3;
    grid-column: 1/3; */
    width: 1671px;
}
.PiePagina{
    border: solid 0.2px #c7ba83;
    border-top: 35px;
    padding-top: 21px;
    padding-bottom: 38.5px;
    background:#4E4343;
    grid-row: 3/4;
    grid-column: 1/3;
    width: 1674px;
}
#imagen2{
    width: 200px;
    margin-left: 1448px;
}
.cuadro1{
    grid-row: 1/2;
    grid-column: 2/3;
    border: solid 0.2px #c7ba83;
    border-right: 300px solid #c7ba83;
    border-left: 430px solid #c7ba83;
    border-top: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 700px;
    background: #979796;
    width: 1347px;
    height: 391px;
}

#text2{
    font-family: 'Kaisei Decol', serif;
    font-size: 35px;
    color: #0f0f0f;
    padding-left: 160px;
    width: 530px;
    height: 102px;
}
#ejemplo{
    font-family: 'Kaisei Decol', serif;
    border-left: 55px solid #979796;
    border-top: 40px solid #979796 ;
    border-color: #979796;
    font-size: 20px;
    width: 659px;
    height: 71px;
}
#text3{
    font-family: 'Kaisei Decol', serif;
    color: #0f0f0f;
   
}
#text4{
    font-family: 'Kaisei Decol', serif;
    color: #0f0f0f;
   
}
#text5{
    font-family: 'Kaisei Decol', serif;
    font-size: px;
    color: #0f0f0f;
   
}
#text6{
    font-family: 'Kaisei Decol', serif;
    color: #0f0f0f;
   
}
#text7{
    font-family: 'Kaisei Decol', serif;
    color: #0f0f0f;
   
}
#text8{
    font-family: 'Kaisei Decol', serif;
    color: #0f0f0f;
   
}
#text9{
    font-family: 'Kaisei Decol', serif;
    color: #0f0f0f;
   
}
#boton{
    font-family: 'Kaisei Decol', serif;
    font-size: 20px;
    border-top: #979796 solid 20px;
    background: #4b82c2;
    margin-left: 268px;
   
}
#boton:hover{
    background: brown;
}
table{
    border-collapse: collapse;
    font-family: 'Kaisei Decol', serif;
    width: 500px;
    height: 500px;
    
}
#tabla1{
    border-top:40px solid #c7ba83;
    border-left: 0px solid #c7ba83;
    border-right: 88px solid #c7ba83;
    margin-left: 50px;
    margin-bottom: 30px;
    /* width: 20%;
    height: 80%; */
    
}

th{
    background: #4E4343;
}
tr,
td{
    background: #979796;
}

table,
th,
td{
    border: 1px solid black;
    font-family: 'Kaisei Decol', serif;
}

th,
td{
    padding: 5px;
    font-family: 'Kaisei Decol', serif;
    
}
#link1{
    font-family: 'Kaisei Decol', serif;
    font-size: 20px;
    padding-left: 640px;
    
}
#link1:hover{
    color: brown;
}

#link2{
    font-family: 'Kaisei Decol', serif;
    font-size: 20px;
    padding-left: 545px;
   
    
}
#link2:hover{
    color: brown;
}
#link3{
    font-family: 'Kaisei Decol', serif;
    font-size: 20px;
    padding-left: 560px;
   
    
}
#link3:hover{
    color: brown;
}