*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor5{
    width: 100vw;
    height: 100vh;
    display: grid;
    background: #c7ba83;
    grid-template: 606px 80px/ auto;
}

.cuadro5{
    text-align: center;
    display: grid;
    border-top: 100px solid #c7ba83;
    border-right: 300px solid #c7ba83;
    border-left: 350px solid #c7ba83;
    border-bottom: 150px solid #c7ba83;
    background: #979796;
    grid-template: 150px 50px 50px 50px 20px/ 300px 300px ;
}

.encabezado{
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    font-family: 'Kaisei Decol', serif;
}

.datos1{
    font-family: 'Kaisei Decol', serif;
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

#nombre{
    height: 20px;
    display: grid;
    grid-column: 1 / 2;
    margin-left: 10px;
    margin-right: 10px;
}

#apellidos{
    height: 20px;
    display: grid;
    grid-column: 2 / 3;
}

.datos2{
    font-family: 'Kaisei Decol', serif;
    display: grid;
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}

#usuario{
    height: 20px;
    display: grid;
    grid-column: 1 / 2;
    margin-left: 10px;
    margin-right: 10px;
}

#contraseña{
    height: 20px;
    display: grid;
    grid-column: 2 / 3;
}

.datos3{
    font-family: 'Kaisei Decol', serif;
    display: grid;
    grid-row: 4 / 5;
    grid-column: 1 / 3;
}

#email{
    height: 20px;
    display: grid;
    grid-column: 1 / 3;
    margin-left: 10px;
    margin-right: 2px;
}

.boton1{
    font-family: 'Kaisei Decol', serif;
    display: grid;
    grid-row: 5 / 6;
    grid-column: 1 / 3;
}

button{
    font-family: 'Kaisei Decol', serif;
    margin-left: 220px;
    margin-right: 220px;
    cursor: pointer;
}

.PiePagina{
    height: 50.3px;
    background:#4E4343;
    grid-row: 2/3;
    grid-column: 1/3;
}

#imagen2{
    height: 50px;
    padding-left: 1100px;
}

.contenedor6{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 606px 80px/ auto;
    background: #c7ba83;
}

.cuadro6{
    font-family: 'Kaisei Decol', serif;
    text-align: center;
    display: grid;
    border: solid 100px #c7ba83;
    border-top: 95px solid #c7ba83;
    border-right: 90px solid #c7ba83;
    border-left: 400px solid #c7ba83;
    border-bottom: 100px solid #c7ba83;
    background: #979796;
    border-radius: 20px;
}



